<div class="simple-chat">
    <ul class="messages_ul" #chatBox>
        <li *ngFor="let message of conversation" [class]="getMsgType(message.enviadoPor)"> <p class="message">{{ message.contenido }}</p> <span class="time"><span class="date">{{ message.updatedAt | myDate }}</span><span class="hour">{{ message.updatedAt | time }}</span></span></li>
    </ul>
    
    <div class="text-bar">
        <form (ngSubmit)="sendMsg()" autocomplete="off">
            <input type="text" class="text-input" placeholder="Send a message..." [(ngModel)]="messageInput" name="messageInput">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
    <div class="spinner" *ngIf="loading"></div>
    <div class="bg-spinner" *ngIf="loading"></div>
</div>

