.main{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #202442;
    padding: 1em 1em;
    gap: 1.5em;
    @media screen and (max-width: 845px) {
        flex-direction: column;
    }
    & .sidebar{
        width: 7em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6em;
        background: #25294a;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        @media screen and (max-width: 845px) {
            gap: 0;
            justify-content: space-between;
            padding: 1em 8%;
            flex-direction: row;
            width: 100%;
        }
    & .sidebar-button{
        width: 3em;
        height: 3em;
        color: #514a7b;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    & .active{
        background: #406ae0;
        color: #eee;
    }

    & .logout{
        transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -ms-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;
}

    & .logout:hover{
        background: #406ae0;
        color: #eee;
    }
 } 

}

i{
    font-size: 1.5em;
}


.container{
    height: 100%;
    width: 100%;
    @media screen and (max-width: 845px){
        height: calc(100% - 7em);
    }
}